<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.buliang.mapper.NewsMapper">
    <select id="queryNews"  parameterType="newsBo" resultType="news">
        select * from easybuy_news
        <where>
            <include refid="where_sql"/>
        </where>
        order by createtime DESC
        <if test="newsBo!=null">
            <if test="newsBo.isPage">
                limit #{newsBo.startIndex},#{newsBo.pageSize}
            </if>
        </if>

    </select>

    <select id="queryTotalCountNews" parameterType="newsBo" resultType="Long">
        select count(1) from easybuy_news
        <where>
            <include refid="where_sql"/>
        </where>
    </select>

    <select id="queryNewsDetail" parameterType="Integer" resultType="News">
        select * from easybuy_news where id=#{id}
    </select>

    <sql id = "where_sql">
        <if test="newsBo != null ">
            <if test="newsBo.news != null ">
                <if test="newsBo.news.id != null ">
                    and id = #{newsBo.news.id}
                </if>
                <if test="newsBo.news.title != null and newsBo.news.title !=''  ">
                    and title like '%${newsBo.news.title}%'
                </if>
            </if>
        </if>
    </sql>

 </mapper>