<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.buliang.mapper.OrderMapper">

    <insert id="add" parameterType="order">
        insert into easybuy_order
        (userId,loginName,userAddress,createTime,cost,serialNumber,payStatus)
        values(#{order.userID}, #{order.loginName},#{order.userAddress},now(),#{order.cost},#{order.serialNumber},#{order.payStatus})
    </insert>


</mapper>