<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.buliang.mapper.ProductMapper">
    <select id="queryByPages" parameterType="productBo" resultType="product">
        SELECT * FROM easybuy_product
        <if test = "productBo != null">
            <where>
                <if test = "productBo.product != null">
                    <if test = "productBo.product.id != null">
                        and id = #{id}
                    </if>
                    <if test = "productBo.product.name != null and productBo.product.name!=''">
                        and name like '%${productBo.product.name}%'
                    </if>
                    <if test = "productBo.product.categoryLevel1Id != null">
                        and categoryLevel1Id=#{productBo.product.categoryLevel1Id}
                    </if>
                    <if test = "productBo.product.categoryLevel2Id != null">
                        and categoryLevel2Id=#{productBo.product.categoryLevel2Id}
                    </if>
                    <if test = "productBo.product.categoryLevel3Id != null">
                        and categoryLevel3Id=#{productBo.product.categoryLevel3Id}
                    </if>
                </if>
            </where>
            <if test = "productBo.isPage">
                limit #{productBo.startIndex}, #{productBo.pageSize}
            </if>
        </if>
    </select>
</mapper>