<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.buliang.mapper.UserMapper">
    <select id="queryById" resultType="User" parameterType="int">
        select * from easybuy_user where id = #{id}
    </select>

    <select id="login" resultType="User" parameterType="String">
        select id,loginName,userName,password,sex,identityCode,email,mobile,type from easybuy_user where loginName=#{loginName}
    </select>

    <insert id="addUser" parameterType="User">
        INSERT into easybuy_user(loginName,userName,password,sex,identityCode,email,mobile) values(#{loginName},#{userName},#{password},#{sex},#{identityCode},#{email},#{mobile})
    </insert>

     <select id="getUser" resultType="User">
        select id,loginName,userName,password,sex,identityCode,email,mobile,type from easybuy_user
        <where>
         <if test="id != null">
            and id = #{id}
         </if>
         <if test="loginName != null and loginName != ''">
            and loginName = #{loginName}
         </if>
        </where>
     </select>
    <select id="queryAll" resultType="User">
        select * from easybuy_user
    </select>
    <select id="queryTotalCountUsers" resultType="Long">
        select count(1) from easybuy_user
        <where>
            <include refid="where_sql"/>
        </where>
    </select>

    <select id="queryUsers"  parameterType="UserBo" resultType="User">
        select * from easybuy_user
        <where>
            <include refid="where_sql"/>
        </where>
        <if test="userBo!=null">
            <if test="userBo.isPage">
                limit #{userBo.startIndex},#{userBo.pageSize}
            </if>
        </if>

    </select>

    <sql id = "where_sql">
        <if test="userBo != null ">
            <if test="userBo.user != null ">
                <if test="userBo.user.id != null ">
                    and id = #{userBo.user.id}
                </if>
                <if test="userBo.user.loginName != null and userBo.user.loginName !=''  ">
                    and loginName like '%${userBo.user.loginName}%'
                </if>
            </if>
        </if>
    </sql>


    <delete id="delete" parameterType="int" >
        delete from easybuy_user where id=#{id}
    </delete>

    <update id="update" parameterType="User" >
        UPDATE easybuy_user set loginName=#{loginName},userName=#{userName},identityCode=#{identityCode},email=#{email},mobile=#{mobile},type=#{type},sex=#{sex}
        where id=#{id}
    </update>


</mapper>